:root {
    --primary : #000000;
    --secondary : #EEEEEE;
    --tertiary : #BC8CF2;
    --quaternary : #AA14F0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-image: url('../../images/background.jpg');
    background-size: cover;
}
.login{
    width: 320px;
    height: 450px;
    padding: 60px 0px;
    background: var(--secondary);
    box-shadow: 7px 7px 15px var(--primary),
    0px 0px 10px var(--tertiary);
    border-radius: 40px;
}

.title{
    font-size: 28px;
    margin-top: 30px;
    letter-spacing: 1px;
    color: var(--primary);
}
.sub-title{
    font-size: 15px;
    margin: 10px 0;
    color: var(--primary);
}
.login-form{
    margin: 30px 0 0 0;
    width: 100%;
}
.login-form .username input,
.login-form .password input,
.singin-btn{
    width: 80%;
    margin: 10px 0;
    padding: 10px 10px;
    outline: none;
    border-radius: 20px;
    border: none;
    background: var(--secondary);
    box-shadow: inset 0px 0px 5px 0px var(--primary);
    color: var(--primary);
}
.singin-btn{
    box-shadow: 0px 0px 5px 3px var(--primary);
    margin-top: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    font-weight: lighter;
}
.singin-btn:hover{
    box-shadow: inset 0px 0px 9px 0px var(--tertiary);
}