:root {
    --primary : #000000;
    --secondary : #EEEEEE;
    --tertiary : #BC8CF2;
    --quaternary : #AA14F0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--primary);
    padding: 16px 32px;
    border-bottom: 3px solid var(--tertiary);
}

h1 {
    color: var(--secondary);
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hamburger {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--secondary);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--tertiary);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--tertiary);
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
color: var(--secondary);
   margin: 0 16px;
   font-weight: 600;
   text-decoration: none;
   transition: 0.4s;
   padding: 8px 16px;
   border-radius: 99px;
}

.menu a.is-active, .menu a:hover {
   background-color: var(--tertiary);
}

.mobile_nav.is-active{
    display: block;
    width: calc(100% - 0%);
}

.mobile_nav {
    display: none;
}

.mobile_nav_items{
    background: var(--quaternary);
    margin-top: 15px;
}

.mobile_nav_items a{
    color: var(--secondary);
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
}

.mobile_nav_items a:hover{
    background: var(--tertiary);
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
    .mobile_nav{
        display: none;
    }

    .mobile_nav.is-active {
        display: none;
    }
}